﻿	/*PC y Tablet*/
	@media screen and (min-width: 837px){
		body{
			margin: 0; /*Estos dos quitan los espacios en blanco de la cabecera y el pie de pagina*/
			padding: 0;
			background-color: #d9d9d9;
		}
		
		#menu{
			list-style-type: none;
			margin-top: -24px; /*Este es para que el menú se quede pegado a la cabecera*/
			width: 100%;
			padding: 0;
			overflow: hidden;
			background-color: #1177d1;
			position: sticky; /*Esto es para que la barra de navegación se quede arriba cuando vayamos abajo en la página*/
			top: 0px; /*La posición en donde estará el menú cuando llegue al tope*/
			z-index: 1; /*Si no se pone esto, el bloque de información se pondrá en frente del menú de navegación*/
			box-shadow: 5px 5px 40px black;
		}
		
		/*Fondo del contenedor principal*/
		#bloqueFondo1 {
			background-color: #ced4da;
			
			min-height: 900px; 
			
			background-attachment: fixed;
			background-position: left;
			background-repeat: no-repeat;
			background-size: cover;
		}
		
		#logo {
			position: relative;
			float: left;
			top: 45%;
			height: 57px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		#menu li{
			float: left;
		}
		
		/*Letras sin hacer hoover ni estar seleccionadas*/
		#menu li a {
			display: block; /*Esto hace que toda el area del link se le pueda hacer click, no solo el texto*/
			color: white;
			text-align: center;
			padding: 20px 20px;
			font-family: Arial, Helvetica, sans-serif;
			text-decoration: none;
		}
		
		/*Letras al hacer hoover*/
		#menu li a:hover:not(active) {
			color: #ffc107;
		}
		
		/*Letras de la pestaña seleccionada*/
		#menu a.active {
			color: #ffc107;
		}
		
		/*Pestaña activa*/
		.active, .dot:hover {
		  background-color: #0164c6;
		}
		
		.grid-container {
			display: grid;
			grid-gap: 10px;
			background-color:white;
			padding: 10px;
		  }

		.grid-item {
			background-color: rgba(255, 255, 255, 0.8);
			text-align: center;
			padding: 20px;
			font-size: 30px;
		  }

		  .rating_container {
			  position: relative;
			  width: 100%;
			  height: 20px;
		  }

		  .rating{
			  position: absolute;
			  top: 0;
			  right: 0;
			  transform: translate(-1%,-1%) rotate(180deg);
			  display: flex;
			
		  }

		  .rating input{
			  display: none;
		  }

		  .rating label{
			  display: block;
			  cursor: pointer;
			  width: 30px;
		  }

		  .rating label:before{
			  content: '\f005';
			  font-family: fontAwesome;
			  position: fixed;
			  display: block;
			  font-size: 20px;
			  color: #101010;
		  }

		  .rating label:after{
			content: '\f005';
			font-family: fontAwesome;
			position: fixed;
			display: block;
			font-size: 20px;
			color: #1f9cff;
			top: 0;
			opacity: 0;
			transition: .5s;
			text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
		}

		.rating label:hover:after, 
		.rating label:hover ~ label:after,
		.rating input:checked ~ label:after
		{
			opacity: 1;
		}

		.testimonios {
			border: 2px solid #ccc;
			background-color: #eee;
			border-radius: 5px;
			padding: 16px;
			margin: 16px 0
		  }
		  
		  .testimonios::after {
			content: "";
			clear: both;
			display: table;
		  }
		  
		  .testimonios img {
			float: left;
			margin-right: 20px;
			border-radius: 50%;
		  }
		  
		  .testimonios span {
			font-size: 20px;
			margin-right: 15px;
		  }
		  
		  @media (max-width: 500px) {
			.testimonios {
				text-align: center;
			}
			.testimonios img {
				margin: auto;
				float: none;
				display: block;
			}
		  }
		  
		  .checked {
			color: orange;
		  }

		  /* Three column layout */
			.side {
				float: left;
				width: 15%;
				margin-top:10px;
			}
			
			.middle {
				margin-top:10px;
				float: left;
				width: 70%;
			}
			
			/* Place text to the right */
			.right {
				text-align: right;
			}
			
			/* Clear floats after the columns */
			.row:after {
				content: "";
				display: table;
				clear: both;
			}
			
			/* The bar container */
			.bar-container {
				width: 100%;
				background-color: #f1f1f1;
				text-align: center;
				color: white;
			}
			
			/* Individual bars */
			.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
			.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
			.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
			.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
			.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

			.comment {
				display: block;
				width: 100%;
				height: 70px;
			}

			.materias {
				display: block;
				margin: 10px 0;
			}

			.link_profesor {
				display: block;
				padding: 5px 0;
			}

			.form_login {
				padding: 20px 15px;
				width: 450px;
				background-color: rgb(248, 248, 248);
				margin: 0 auto;
			}

			.form_login label {
				display: block;
			}

			.form_login input {
				display: block;
				margin: 0 auto;
			}

			.form_login input:not([type="submit"]) {
				display: block;
				height: 35px;
				width: 100%;
				margin-bottom: 15px;
			}

			.form_login_title {
				text-align: center;
			}

	}
	
	/*CELULAR*/
	@media screen and (max-width: 836px){
		
		
	}